.social-wrapper {
  button {
    background: transparent !important;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #fff;
  }
}
