img {
  display: block;
}

.banner-dots {
  position: absolute;

  left: 50%;
  bottom: 18px;

  transform: translateX(-50%);

  display: flex;

  gap: 10px;

  z-index: 30;
}

.dot {
  width: 12px;
  height: 12px;

  border-radius: 999px;

  border: none;

  background: rgba(255, 255, 255, 0.5);

  cursor: pointer;

  transition: 0.25s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }

  &.active {
    width: 28px;

    background: white;
  }
}
