.hero {
  display: flex;
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  &__categories {
    width: 240px;

    flex-shrink: 0;

    padding-right: 24px;

    border-right: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__category {
    font-size: 15px;

    cursor: pointer;

    transition: 0.2s;

    &:hover {
      color: #0284c7;
    }
  }

  &__banner {
    flex: 1;

    height: 360px;

    background: #000;

    color: white;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 40px 60px;

    position: relative;

    overflow: hidden;
  }

  &__content {
    max-width: 350px;

    span {
      display: block;

      margin-bottom: 20px;

      opacity: 0.8;
    }

    h2 {
      font-size: 52px;
      font-weight: 600;
      line-height: 1.2;

      margin-bottom: 24px;
    }

    button {
      display: flex;
      align-items: center;
      gap: 8px;

      background: transparent;

      border: none;

      color: white;

      border-bottom: 1px solid white;

      padding-bottom: 4px;

      cursor: pointer;
    }
  }

  &__image {
    img {
      height: 300px;

      object-fit: contain;
    }
  }

  &__dots {
    position: absolute;

    bottom: 24px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 10px;

    span {
      width: 10px;
      height: 10px;

      border-radius: 50%;

      background: #777;

      cursor: pointer;

      &.active {
        background: #ef4444;
        border: 2px solid white;
      }
    }
  }
}
