VITE_API_BASE_URL="https://api.aidr.io.vn"
VITE_SIGNALR_URL="https://api.aidr.io.vn/hubs/realtime"
VITE_CHAT_SOCKET_URL="wss://api.aidr.io.vn/chat"
VITE_API_URL="your_legacy_be_api_with_api_prefix"
VITE_GOOGLE_CLIENT_ID="your_gg_client_id"

VITE_CLOUD_NAME=
VITE_UPLOAD_PRESET=

VITE_API_SOCKET_URL="your_socket_url"

VITE_OMISE_PUBLIC_KEY=pkey_test_xxxxxxxxxxxxxxxxx
