@import "tailwindcss";

@theme {
  --color-secom-50: #eff8ff;
  --color-secom-100: #dff0ff;
  --color-secom-200: #b9e0ff;
  --color-secom-300: #78c7ff;
  --color-secom-400: #1a8fe0;
  --color-secom-500: #0e7ccb;
  --color-secom-600: #0666a3;
  --color-secom-700: #055382;
  --color-secom-800: #06466c;
  --color-secom-900: #04304a;
  --color-surface: #ffffff;
  --color-page: #f5f7fa;
  --color-border: #e5e7eb;
}
