.form_register_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 45px 20px;

  .form_logo {
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  .form_register_wrapper {
    width: 100%;
    max-width: 460px;
    background: #fff;
    border-radius: 32px;
    padding: 40px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 22px;

    .form_header {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 32px;
        font-weight: 800;
        color: #111827;
        margin-bottom: 8px;
      }

      p {
        font-size: 15px;
        color: #6b7280;
      }
    }

    .form_group {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        font-size: 14px;
        font-weight: 600;
        color: #111827;
        margin-bottom: 10px;
      }

      .input_wrapper {
        width: 100%;
        height: 56px;
        border: 1px solid #d1d5db;
        border-radius: 16px;
        display: flex;
        align-items: center;

        transition: all 0.2s ease;

        svg {
          color: #9ca3af;
          padding-left: 5px;
          min-width: 18px;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          border-radius: 16px;
          padding-left: 12px;
          font-size: 15px;
        }
      }
    }

    .form_register_btn {
      width: 100%;

      display: flex;
      flex-direction: column;

      gap: 20px;

      .divider {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        color: #9ca3af;
        font-size: 13px;

        &::before,
        &::after {
          content: "";
          flex: 1;
          height: 1px;
          background: #e5e7eb;
        }
      }

      .google_btn_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        > div {
          width: 100% !important;
        }

        iframe {
          width: 100% !important;
        }
      }
    }

    .form_footer {
      text-align: center;

      p {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 6px;

        font-size: 14px;

        color: #6b7280;
      }

      a {
        color: #0369a1;

        font-weight: 700;

        transition: 0.2s;

        &:hover {
          color: #0ea5e9;
        }
      }
    }
  }
}
