.title-container {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 10px;
  padding-left: 10px;
  .title-block {
    width: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #db4444;
    margin-right: 10px;
  }
  .title-text {
    font-size: 14px;
    font-weight: 600;
    color: #db4444;
    padding-top: 4px;
  }
}
