.verify-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 70px rgba(2, 132, 199, 0.15);
}

/* LEFT SIDE */
.verify-left {
  width: 50%;
  background: #0284c7; // bg-sky-600
  color: white;
  padding: 50px;
  position: relative;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    opacity: 0.9;
    line-height: 1.6;
    font-size: 14px;
  }

  .blob {
    position: absolute;
    width: 220px;
    height: 220px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: -60px;
    right: -60px;
    filter: blur(35px);
  }
}

/* RIGHT SIDE */
.verify-right {
  text-align: center;

  .icon {
    font-size: 56px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #0f172a;
  }

  .subtitle {
    font-size: 14px;
    color: #64748b;
    margin-top: 10px;

    span {
      display: block;
      margin-top: 6px;
      font-weight: 600;
      color: #0f172a;
    }
  }

  .btn-primary {
    margin-top: 25px;
    background: #0284c7;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: #0369a1;
    }
  }

  .btn-outline {
    margin-top: 12px;
    border: 1px solid #cbd5e1;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 600;
    background-color: white;
    color: #0369a1;
    transition: 0.2s;

    &:hover {
      background: #f1f5f9;
      border: 1px solid #2e6fc0;
    }
  }
}
