@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container-custom {
  width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 24px;
}

@media (max-width: 1440px) {
  .container-custom {
    max-width: 1320px;
  }
}

@media (max-width: 1024px) {
  .container-custom {
    padding-inline: 20px;
  }
}

@media (max-width: 768px) {
  .container-custom {
    padding-inline: 16px;
  }
}

@media (max-width: 480px) {
  .container-custom {
    padding-inline: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;

    -webkit-text-fill-color: none !important;
  }
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.flex-g {
  display: flex;
  gap: 16px;
}

.flex-col-g {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-col-g-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.m-t-b-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-row-g {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.flex-row-center-g {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
